<div class="label-content">
  <app-label
    [labelText]="'Обязательно к заполнению'"
    [asterisk]="true"
    [tooltip]="true"
    [tooltipText]="'Надо бы заполнить это поле'"
  >
    <input type="checkbox">
  </app-label>
</div>

<div class="label-content">
  <app-label
    [labelText]="'Не очень обязательно к заполнению'"
    [asterisk]="false"
    [tooltip]="true"
    [tooltipText]="'Можно не заполнять это поле'"
  ><input type="date"></app-label>
</div>

<style>
  .label-content {
    padding: 10px;
    display: flex;
    width: inherit;
    box-sizing: border-box;
  }
</style>
