<div class="label">
  <div>
    <span class="label-text">{{labelText}}</span>
    <span *ngIf="asterisk" class="asterisk">&#42;</span>
    <div class="tooltip">
      <span *ngIf="tooltip" class="info">&#63;
        <span class="tooltip-text">{{tooltipText}}</span>
      </span>
    </div>
  </div>

  <div>
    <ng-content></ng-content>
  </div>
</div>

<style>
  .label {
    width: auto;
  }
  .label-text {
    font-family: 'Inter';
    font-size: 14px;
    color: #6C757D;
  }
  .asterisk {
    font-family: 'Inter';
    font-size: 12px;
    color: #DC1919
  }
  .info {
    color: #BBC1CC;
    display: inline-block;
    vertical-align: center;
    text-align: center;
    width: 12.6px;
    height: 12.6px;
    font-size: 0.8em;
    border-radius: 50%;
    border: 1px solid;
    margin-left: 5px;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
  .tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #6C757D;
    color: #FFFFFF;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    bottom: 100%;
  }
</style>
